.expandIcon, .collapseIcon{
	cursor: pointer;
	width: 14px;
	height: 14px;
	display: inline-block;
}

.expandIcon {
	background-image: url(../icons/plus.png);
	
}

.collapseIcon {
	background-image: url(../icons/minus.png);
}

.pass {
	background-color: #92D050;
}

.fail {
	background-color: #F37A7A;
}

.skip {
	background-color: #FDED72;
}

td.rootRowPadding {
	padding-left: 0.5em
}

td.subRow1Padding {
	padding-left: 2.5em
}

td.subRow2Padding {
	padding-left: 4.5em
}

.suiteView td {
	height: 4em;
}

.suiteView button{
	margin: 0 0.3em 0.3em 0;
}
